<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="header-date">August 31, 2014</h2>
				<h3 class="header-location">Des Moines, IA</h3>
			</div>
			<div class="modal-body">
				<h4>Ceremony and Reception @ Raccoon River Brewery - 4:30PM</h4> 
				<img src="../img/rrbc2.jpg"/> <br />
				<p>
					The ceremony, dinner, and reception will all be held at Raccoon River Brewery in Downtown Des Moines. Since it is a weekend there should be parking available on the street as well as the parking garage off of Walnut to the West of Raccoon River. We will have the whole place to ourselves so come prepared to eat, drink, dance your socks off and have a blast with Billy and Jami!
				</p>
				<p>
					<b>Raccoon River Brewing Company</b> <br />
					200 10th St. <br />
					Des Moines, IA 50309 <br />
					<a href="http://www.raccoonbrew.com/">http://www.raccoonbrew.com/</a>
				</p>
			</div>
		</div>
	</div>
</div>