<div class="modal fade" id="registryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="header-date">Registry</h2>
			</div>
			<div class="modal-body">
				<p>We are excited that so many friends and family members from near and far will be there to celebrate with us on our big day — your presence (and dance moves) are truly a gift in itself. If you feel compelled to give us something tangible, too, you can find our Registries below: </p>
				<p><a target="_blank" href="http://www.target.com/wedd/registry/CC48JR1iRGDN8r5PcGAZ9g"><img src="../img/target.jpg" width="50%" /></a> </p>
				<p><a target="_blank" href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541256139&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos"><img src="../img/bbb.png" width="50%" height="50%" /></a> </p>
				<p><a target="_blank" href="http://www.westelm.com/products/gift-card/"><img src="../img/westelm.jpg" width="50%" height="50%" /></a> </p>
				<p>*As new homeowners with a nice, long home improvement list, we also accept cash and checks!</p>
			</div>
		</div>
	</div>
</div>