<div class="modal fade" id="travelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="header-date">Welcome to Des Moines</h2>
			</div>
			<div class="modal-body">
				<h3>Accommodations</h3>
				<p>
					Hey out of towners! Need a place to stay? <br />
					Booking in advance is highly recommended as the Hyvee Triatholan is the same day as our wedding, so rooms will book up fast! Check out our options below and as always feel free to reach out to us with any questions.
				</p>
				<p>
					<b>Des Moines Marriott Downtown</b> <br />
					700 Grand Avenue <br />
					Des Moines, Iowa 50309 USA <br />
					<a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lenz%20Adamowski%20Wedding%5Edsmia%60lenlena%60149.00%60USD%60false%608/29/14%609/1/14%608/8/14&app=resvlink&stop_mobi=yes" target="blank">Click here for our group rate when booking at the Marriott</a>
				</p>
				<h3>Transportation</h3>
				<p>
					If you are staying at the <b>Marriott Downtown</b> there is a complimentary airport shuttle and transportation to the wedding. Venturing outside of downtown? <a href="http://www.dsmairport.com/at-the-airport/ground-transportation/car-rentals.aspx" target="blank">Click here for information on car rentals.</a>
				</p>
			</div>
		</div>
	</div>
</div>