<div class="modal fade" id="travelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="header-date">Welcome to Des Moines</h2>
			</div>
			<div class="modal-body">
				<h3>Accommodations</h3>
				<p>
					Hey out of towners! Need a place to stay? <br />
					Booking in advance is highly recommended as the Hyvee Triathlon is the same day as our wedding, so rooms will book up fast! Check out our options below and as always feel free to reach out to us with any questions.
				</p>
				<p>
					<b>Des Moines Marriott Downtown</b> <br />
					700 Grand Avenue <br />
					Des Moines, Iowa 50309 USA <br /><br />
					The Marriott Downtown is in the heart of downtown Des Moines. They are giving us a group rate of <b>$149.00</b> a night. They will provide a complimentary airport shuttle and transportation to the wedding. Parking will be an additional cost if staying at the Marriott. <br />
					<a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lenz%20Adamowski%20Wedding%5Edsmia%60lenlena%60149.00%60USD%60false%608/29/14%609/1/14%608/8/14&app=resvlink&stop_mobi=yes" target="blank">Click here for our group rate when booking at the Marriott</a>
				</p>
				<p>
					<b>Hampton Inn West Des Moines</b> <br />
					7060 Lake Dr.<br />
					West Des Moines, Iowa 50266 USA <br />
					<b>(515) 223-4700</b><br /><br />
					The Hampton Inn is about 15 minutes from downtown so you will need a car (<a href="http://www.dsmairport.com/at-the-airport/ground-transportation/car-rentals.aspx" target="blank">Click here for information on car rentals</a>). Our group rate here is <b>$99.00</b> per night. They provide complimentary hot breakfast, wifi, and have an indoor pool/hot tub.<br />
					To book with the group rate call the number above and mention our group name: Lenz/Adamowski Wedding
				</p>
				<hr>
				<p>You are welcome to find other accommodations in the area. There are many other options both Downtown and in West Des Moines. If you are staying outside of Downtown you will most likely need a car. Feel free to call us if you need any help or have any questions.</p>
			</div>
		</div>
	</div>
</div>