<!DOCTYPE html>
<html>
	<head>
		<title>Billy & Jami</title>
		<link rel="shortcut icon" href="/img/goofy.gif">
	</head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  	<script src="libs/js/jquery.countdown.js"></script>
  	<script src="js/bj.js"></script>
  	<link type="text/css" rel="stylesheet" href="css/style.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/neoretrodraw.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/upper-east-side.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/ostrich-sans.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/blackout.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/great-vibes.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-3 well save-well">
					<h1 class="header-names">Billy & Jami</p>
					<h2 class="header-date">August 31, 2014</p>
					<h3 class="header-location">Des Moines, IA</p>
				</div>
			</div>
		</div>
	</body>
</html>