<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Billy & Jami</title>
		<link rel="shortcut icon" href="/img/goofy.gif">
	</head>
  	<link type="text/css" rel="stylesheet" href="css/style.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/neoretrodraw.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/upper-east-side.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/ostrich-sans.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/blackout.css">
  	<link type="text/css" rel="stylesheet" href="css/fonts/great-vibes.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<body>
		<div class="container">
			<div class="row">
				<div class="save-well well col-sm-5 col-sm-offset-3">
					<h1 class="header-names">Billy & Jami</p>
					<h2 class="header-date">August 31, 2014</p>
					<h3 class="header-location">Des Moines, IA</p>
				</div>
			</div>
		</div>
	</body>
</html>