body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0) !important;
}
html { 
  background: url(../img/background.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 60% 60%;	
}
.save-well{
  text-align: center;
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.0) !important;
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.7) 0,rgba(255, 255, 255, 0.3) 100%) !important;
  border-width: 0px !important;
  border-color: rgba(255, 255, 255, 0) !important;
  padding: 0px !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00),0 0px 0 rgba(255, 255, 255, 0.0) !important;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00),0 0px 0 rgba(255, 255, 255, 0.0) !important;
}
.header-names{
	font-family: 'neoretrodraw';
	font-weight: bold;
	font-size: 50px;
}
.header-date{
	font-family: 'Ostrich Sans';
	font-weight: bold;
}
.header-location{
	font-family: 'Ostrich Sans';
	font-weight: bold;
}