body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-background-size: 3168px 4752px;
}
html { 
  background: url(../img/background.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 60% 60%;	
  min-height: 100%;
}
.save-well{
  text-align: center;
  margin-top: 2%;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.7),rgba(255,255,255,0.3)) !important; /*Safari*/
  background: -o-linear-gradient(bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3)) !important; /*Opera 11-12*/
  background: -moz-linear-gradient(bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3)) !important; /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3)) !important; /*Standard*/
  border-width: 0px !important;
  border-color: rgba(255, 255, 255, 0) !important;
  padding: 0px !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00),0 0px 0 rgba(255, 255, 255, 0.0) !important;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00),0 0px 0 rgba(255, 255, 255, 0.0) !important;
}
.header-names{
	font-family: 'neoretrodraw';
	font-weight: bold !important;
	font-size: 50px;
}
.header-date{
	font-family: 'Ostrich Sans';
	font-weight: bold;
}
.header-location{
	font-family: 'Ostrich Sans';
	font-weight: bold;
}